<div class="mx-4">
    <div>
        <h3> Login Account </h3>
        <div>Welcome back to CarryGo</div>
    </div>
    
    <div class="py-3">
        <p>
            <label>Username</label>
            <input class="form-control rounded-pill my-2" placeholder="mail@website.com">
        </p>
        <p>
            
            <label>Password</label>
            <input class="form-control rounded-pill my-2" type="password" placeholder="Min. 8 Character">   
        </p>
    
       <div class="d-flex justify-content-between py-2">
           <div>
               <input type="checkbox" name="remember" id="remember">&nbsp;
               <label for="">Remember me</label>
           </div>
           <div>
               <a href="">Forget Password?</a>
           </div>
       </div>
    </div>
    
    <div  class="d-grid py-2">
        <button class="btn btn-success rounded-pill" type="submit">Submit</button>
    </div>
    
    <div class="text-center py-2">
        or sign in with Google
    </div>
    
    <div  class="d-grid py-2">
        <button class="btn btn-outline-primary rounded-pill" type="submit">Google</button>
    </div>
    
    <div class="py-3">
        Not registered yet? <a routerLink="/register">Create an Account</a>
    </div>    
</div>