<div class="m-3" style="padding-top: 0px;">
    <nav class="nav nav-pills">
        <a class="nav-link active" id="nav-send-tab" data-bs-toggle="tab" data-bs-target="#nav-send" type="button"
            role="tab" aria-controls="nav-send" aria-selected="true" aria-current="page">Send</a>
        <a class="nav-link" id="nav-fetch-me-tab" data-bs-toggle="tab" data-bs-target="#nav-fetch-me" type="button"
            role="tab" aria-controls="nav-fetch-me" aria-selected="true">Fetch Me</a>
    </nav>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="nav-send" role="tabpanel" aria-labelledby="nav-send-tab"
            tabindex="0">
            <form action="">
                <div class="mt-3">
                    <h4><b>Location Details</b></h4>
                    <label for="" class="ml-2">From</label>
                    <input type="text" placeholder="Challenge" class="rounded-pill form-control mt-2 py-2">

                    <label for="" class="mt-3">To</label>
                    <input type="text" placeholder="Elebu" class="rounded-pill form-control mt-2 py-2">
                </div>

                <h4 class="mt-3"> <b>Item Category</b></h4>
                <div class="">
                    <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
                    <label class="btn btn-outline-primary mx-2 my-2 rounded-pill" for="btncheck1">Documents</label>

                    <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off">
                    <label class="btn btn-outline-primary mx-2 my-2 rounded-pill" for="btncheck2">Food</label>

                    <input type="checkbox" class="btn-check" id="btncheck3" autocomplete="off">
                    <label class="btn btn-outline-primary mx-2 my-2 rounded-pill" for="btncheck3">Electronics</label>

                    <input type="checkbox" class="btn-check" id="btncheck4" autocomplete="off">
                    <label class="btn btn-outline-primary mx-2 my-2 rounded-pill" for="btncheck4">Clothing</label>

                    <input type="checkbox" class="btn-check" id="btncheck5" autocomplete="off">
                    <label class="btn btn-outline-primary mx-2 my-2 rounded-pill" for="btncheck5">Others</label>

                    <div class="my-3">
                        <label for="">Item Description</label>
                        <input type="text" class="form-control my-2 rounded-pill" id="item" placeholder="Food Delivery" autocomplete="off">
                    </div>
                </div>

                <h3 class="mt-3">
                    <b>Pick a ride</b>
                </h3>

                <div class="container">
                    <div class="row">
                        <div class="col">
                            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off"
                                checked>
                            <label class="btn btn-outline-primary mx-2 rounded" for="btnradio1" style="width: 100%;">
                                <div class="pr-3">
                                    <mat-icon class="icon">motorcycle</mat-icon>Bike
                                </div>
                            </label>
                        </div>
                        <div class="col">
                            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                            <label class="btn btn-outline-primary mx-2 rounded" for="btnradio2" style="width: 100%;">
                                <div class="pr-3">
                                    <mat-icon class="icon">local_shipping</mat-icon>Vehicle
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="d-grid my-3">
                    <label for="" class="py-2">Select Delivery mode</label>
                    <select name="" class="form-control py-2" id="">
                        <option value="">Economy Delivery - <br> <small>Can take up to 6hrs</small></option>
                        <!-- <option value=""> Delivery - <br> <small>Can take up to 6 hours</small></option> -->
                        <option value="">Premium Delivery - <br> <small>Can take up to 1hr</small></option>
                    </select>
                    <!-- <button class="btn btn-primary py-2">Select Delivery Mode</button> -->
                </div>
                <div class="card my-3">
                    
                    <div class="card-body text-center">
                        Range <br> <b> 500 NGN - 1000 NGN </b>
                    </div>
                    <div class="card-footer text-center">
                        629 KM - 700 KM
                    </div>
                </div>
                
                
                <div class="d-grid my-3">
                    <button class="btn btn-primary py-2">Select Nearby Rider</button>
                </div>  
            </form>
        </div>

        <div class="tab-pane fade" id="nav-fetch-me" role="tabpanel" aria-labelledby="nav-fetch-me-tab" tabindex="0">
            <div>
                <div class="mt-3">
                    <h4><b>Details</b></h4>
                    <label for="" class="ml-2">From</label>
                    <input type="text" placeholder="Challenge" class="rounded-pill form-control mt-2 py-2">

                    <label for="" class="mt-3">To</label>
                    <input type="text" placeholder="Elebu" class="rounded-pill form-control mt-2 py-2">
                </div>

                <div>
                    <h4 class="mt-3"> <b>Item information</b></h4>
                    <div class="">
                        <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
                        <label class="btn btn-outline-primary mx-2 my-2 rounded-pill" for="btncheck1">Documents</label>

                        <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off">
                        <label class="btn btn-outline-primary mx-2 my-2 rounded-pill" for="btncheck2">Food</label>

                        <input type="checkbox" class="btn-check" id="btncheck3" autocomplete="off">
                        <label class="btn btn-outline-primary mx-2 my-2 rounded-pill" for="btncheck3">Items</label>

                        <input type="checkbox" class="btn-check" id="btncheck4" autocomplete="off">
                        <label class="btn btn-outline-primary mx-2 my-2 rounded-pill" for="btncheck4">Clothing</label>

                        <input (click)="others = !others" type="checkbox" class="btn-check" id="btncheck5"
                            autocomplete="off">
                        <label class="btn btn-outline-primary mx-2 my-2 rounded-pill" for="btncheck5">Others</label>

                        <div *ngIf="others">
                            <label for="">If Others</label>
                            <input type="text" class="form-control my-2 rounded-pill" id="item" placeholder="if others"
                                autocomplete="off">
                        </div>
                    </div>

                </div>

                <div>
                    <h4 class="mt-3">
                        <b>Pick a ride</b>
                    </h4>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                        <label class="form-check-label" for="inlineCheckbox1">Car</label>
                    </div>
                    <div class="form-check px-3 form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <label class="form-check-label" for="inlineCheckbox2">Bike</label>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>