<div class="container px-4 my-3">
    <div class="row gx-3 text-center">
        <div class="col p-3 border bg-light cg-col">
            <p>54</p>
            <span>Riders</span>
        </div>
        <div class="col p-3 border cg-col">
            <p>4</p>
            <span>Staffs</span>
        </div>
        <div class="col p-3 border cg-col">
            <p>54</p>
            <span>Riders</span>
        </div>
        <div class="col p-3 border cg-col">
            <p>54,000</p>
            <span>Month Revenue</span>
        </div>
    </div>
</div>