.cg-btn {
    /* color: rgba(238, 11, 230, 0.948); */
    font-weight: 400;
    font-size: 11px;
    /* background-color: rgb(87, 87, 236); */
}
.cg-btn-group {
    text-align: center;
    width: 100%;
    bottom: 0;
    z-index: none;
    /* height: ; */
    display: flex;
    position: fixed;
}
.active {
    color: blue;
}
.cg-btn-central{
    height: 50px;
    border-radius: 25px;
}