<div class="bg-warning">
<div class="earning bg-warning"><br>
    <h3 class="text-white bg-dark"> <strong>EARNING</strong> </h3>
    <h1 class="text-white"><strong>N = {{amount}} </strong></h1>
    <span class="recent">Recent Transactions</span>
</div>
<canvas height="3"></canvas>



    <div class="container bars card bg-white">
        <div class="row mb-3">
            <div class="col-4 themed-grid-col">Food Delivery
                <p>Easy delivery</p>
            </div>
            <div class="col-4 themed-grid-col">Amount 
                <p>Payvia palmpay</p>
            </div>
            <div class="col-4 themed-grid-col">Amount
                <p>Earned</p>
            </div>
        </div>
    </div>

    <div class="container bars card bg-white">
        <div class="row mb-3">
            <div class="col-4 themed-grid-col">Food Delivery
                <p>Easy delivery</p>
            </div>
            <div class="col-4 themed-grid-col">Amount 
                <p>Payvia palmpay</p>
            </div>
            <div class="col-4 themed-grid-col">Amount
                <p>Earned</p>
            </div>
        </div>
    </div>

    <div class="container bars card bg-white">
        <div class="row mb-3">
            <div class="col-4 themed-grid-col">Food Delivery
                <p>Easy delivery</p>
            </div>
            <div class="col-4 themed-grid-col">Amount 
                <p>Payvia palmpay</p>
            </div>
            <div class="col-4 themed-grid-col">Amount
                <p>Earned</p>
            </div>
        </div>
    </div>

    <div class="container bars card bg-white">
        <div class="row mb-3">
            <div class="col-4 themed-grid-col">Food Delivery
                <p>Easy delivery</p>
            </div>
            <div class="col-4 themed-grid-col">Amount 
                <p>Payvia palmpay</p>
            </div>
            <div class="col-4 themed-grid-col">Amount
                <p>Earned</p>
            </div>
        </div>
    </div>

    <div class="container bars card bg-white">
        <div class="row mb-3">
            <div class="col-4 themed-grid-col">Food Delivery
                <p>Easy delivery</p>
            </div>
            <div class="col-4 themed-grid-col">Amount 
                <p>Payvia palmpay</p>
            </div>
            <div class="col-4 themed-grid-col">Amount
                <p>Earned</p>
            </div>
        </div>
    </div>

    <div class="container bars card bg-white">
        <div class="row mb-3">
            <div class="col-4 themed-grid-col">Food Delivery
                <p>Easy delivery</p>
            </div>
            <div class="col-4 themed-grid-col">Amount 
                <p>Payvia palmpay</p>
            </div>
            <div class="col-4 themed-grid-col">Amount
                <p>Earned</p>
            </div>
        </div>
    </div>

    <div class="container bars card bg-white">
        <div class="row mb-3">
            <div class="col-4 themed-grid-col">Food Delivery
                <p>Easy delivery</p>
            </div>
            <div class="col-4 themed-grid-col">Amount 
                <p>Payvia palmpay</p>
            </div>
            <div class="col-4 themed-grid-col">Amount
                <p>Earned</p>
            </div>
        </div>
    </div>

    <div class="container bars card bg-white">
        <div class="row mb-3">
            <div class="col-4 themed-grid-col">Food Delivery
                <p>Easy delivery</p>
            </div>
            <div class="col-4 themed-grid-col">Amount 
                <p>Payvia palmpay</p>
            </div>
            <div class="col-4 themed-grid-col">Amount
                <p>Earned</p>
            </div>
        </div>
    </div>

    <div class="container bars card bg-white">
        <div class="row mb-3">
            <div class="col-4 themed-grid-col">Food Delivery
                <p>Easy delivery</p>
            </div>
            <div class="col-4 themed-grid-col">Amount 
                <p>Payvia palmpay</p>
            </div>
            <div class="col-4 themed-grid-col">Amount
                <p>Earned</p>
            </div>
        </div>
    </div>
    
</div>
